<a href="https://colab.research.google.com/github/Dutta-SD/NLP/blob/master/Basic_exploration_Aspect_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aspect Analysis, Basic Exploration

## Get the zip file

In [1]:
%%bash
wget -nv http://times.cs.uiuc.edu/~wang296/Data/LARA/TripAdvisor/Review_Texts.zip
unzip -qq Review_Texts.zip
rm Review_Texts.zip

2021-08-04 18:54:30 URL:http://times.cs.uiuc.edu/~wang296/Data/LARA/TripAdvisor/Review_Texts.zip [83386633/83386633] -> "Review_Texts.zip" [1]
replace hotel_100504.dat? [y]es, [n]o, [A]ll, [N]one, [r]ename: new name: replace hotel_100505.dat? [y]es, [n]o, [A]ll, [N]one, [r]ename:  NULL
(EOF or read error, treating as "[N]one" ...)

## Start Exploration

* Each `.dat` file extracted contains reviews of only 1 hotel
* Each file contains about 125 reviews
* First 3 rows contain data about the hotel(Overall rating, URL, Average Price)
* Each 13 rows next contains data about the hotels - author review, aspects etc
* The format of the rows in `.dat` file is:
```
<Overall Rating>4
<URL>https://....
<Avg. Price>$400
```
So delimiter is `>`, Then we need to clean the row names

In [2]:
import pandas as pd
import numpy as np

In [3]:
data_1 = pd.read_csv('./hotel_100504.dat', header = None, sep = '>')
meta_data_1 = data_1.iloc[ : 3, :]
actual_data_1 = data_1.iloc[ 3 : , :]

In [4]:
col_names = data_1.iloc[ : , 0].tolist()
col_names = [col[1:] for col in col_names]
col_names[ : 16]

['Overall Rating',
 'Avg. Price',
 'URL',
 'Author',
 'Content',
 'Date',
 'No. Reader',
 'No. Helpful',
 'Overall',
 'Value',
 'Rooms',
 'Location',
 'Cleanliness',
 'Check in / front desk',
 'Service',
 'Business service']

In [5]:
actual_data_1.head(14)

                         0                                                  1
3                  <Author                                        selizabethm
4                 <Content  Wonderful time- even with the snow! What a gre...
5                    <Date                                       Dec 23, 2008
6              <No. Reader                                                 -1
7             <No. Helpful                                                 -1
8                 <Overall                                                  5
9                   <Value                                                  4
10                  <Rooms                                                  5
11               <Location                                                  5
12            <Cleanliness                                                  5
13  <Check in / front desk                                                  5
14                <Service                                                  5
15       <Business service                                                 -1
16                 <Author                                          IndieLady

In [6]:
meta_data_1.head()

                 0                                                  1
0  <Overall Rating                                                  4
1      <Avg. Price                                               $302
2             <URL  http://www.tripadvisor.com/ShowUserReviews-g60...

In [7]:
len(actual_data_1)

1625

In [8]:
i = 0
data_1_remade = pd.DataFrame()
while i < len(actual_data_1):
    df_temp = pd.DataFrame(actual_data_1.iloc[i : i +13, 1].values.reshape(-1, 1))
    data_1_remade = pd.concat([data_1_remade, df_temp], ignore_index=True, axis = 1)
    i += 13
data_1_remade = data_1_remade.T

In [9]:
print(data_1_remade.shape)
data_1_remade.columns = col_names[ 3: 16]
data_1_remade.head(20)

(125, 13)

            Author  ... Business service
0      selizabethm  ...               -1
1        IndieLady  ...               -1
2           Hilobb  ...                4
3   Chianti_girl24  ...                5
4       hothearted  ...               -1
5        MauiDiver  ...                3
6         Tulane86  ...                5
7         kstenger  ...               -1
8       cantwaitNy  ...                3
9        MarbleJac  ...                4
10        Smashers  ...                5
11     kiwiwannabe  ...               -1
12      Chiliwidle  ...                3
13        trinzeon  ...                5
14     ATudorQuene  ...                5
15  BearAndPenguin  ...               -1
16         sunchip  ...                5
17            SCG2  ...                3
18        soundbit  ...               -1
19         RelaxSC  ...               -1

[20 rows x 13 columns]